{%extends "base.html"%}

{% block title %} ADMIN {% endblock %}

{% block content %} 

<h1> ADMIN </h1>

<img src="/static/incog.png" alt="incognito icon, but feminine and pink. Image consists of two pink circles on top of eachother with a gap between.
There are stars surrounding the icon, and rings at the top of the circle" class="img w-5">
<form action="/admin" method="POST">
   enter password 
   <br>
  <input type="password" name = "pw">
  <br> <br>
  <input type="submit" class="btn btn-outline-light">
</form>
<br>
<h2><b>{{pwMessage}}</b></h2>


{%endblock%}