{%extends "base.html"%}

{% block title %} ADMIN {% endblock %}

{% block content %}

<h1> ADMIN </h1>

<!--insert head tags and assign the scopes -->
<h2>select which stat view you would like</h2>
<div class="container">
  <a class=" btn btn-outline-light">service orders</a>
  <a class=" btn btn-outline-light">merch orders</a>
</div>
<br><br>
<div class="container">
  <table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Service Request</th>
        <th scope="col">Extra Comments</th>


<!--
  name = db.Column(db.String(500), index=True)
    cust_email = db.Column(db.String(500), index=True, )
    address = db.Column(db.String(500), index=True, )
    stock_bought = db.Column(db.String(500), index=True, )
    service_or_stock = db.Column(db.String(500), index=True)    
    date = db.Column(db.DateTime)
    cost = db.Column(db.Float)
-->
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for o in objs %}
        <th scope="row">{{o.id}}</th>
        <th>{{o.date}}</th>
        <th>{{o.name}}</th>
        <th>{{o.cust_email}}</th>
        <th>{{o.stock_brought}}</th>
        <th>"bruh"</th>
        
      </tr>        
      {% endfor %}

    </tbody>
  </table>
</div>

<form action="/admin-view", method="POST"><input type="submit" value="logout" class="btn btn-outline-light"></form>


{%endblock%}