{%extends "base.html"%}

{% block title %} NXADESIGNS | Portfolio{% endblock %}

{% block content %}

<h1> PORTFOLIO </h1>
<p>

<div class="container">
  <div class="d-flex justify-content-center">
    <div class="w-50 border py-1">

      <i>Streets said this is some of my best work yet. Some of these passion projects, some of them
        commission. All of them exquisite</i>
    </div>
  </div>
</div>
</p>
<br>
<div class="container port">
  <div class="row row-cols-lg-3 md-1 g-4">
    <!--G IS FOR GUTTER, GUTTER AS IN SPACE-->
    <div class="col">
      <a href="/port-weLit">
        <div class="card">
          <img src="/static/weLit/zineCvr.jpg" class="card-img-top hvr"
            alt="poster for we lit entertainment. 5 black people posing in a picture, they look happy">
          <div class="overlay">
            <h1 class="ovr">Click me!</h1>
          </div>
        </div>
      </a>
      <br>
      <h4>WeLit Entertainment</h4>

    </div>
    <div class="col">
      <a href="/port-abstudio">
        <div class="card">
          <img src="/static/abfinals/bwCvr.jpg" class="card-img-top hvr"
            alt="poster for AB studio. greyscale imag with elegant black woman with long body wave hair posing">
          <div class="overlay">
            <h1 class="ovr">No me!</h1>
          </div>
        </div>
      </a>
      <br>
      <h4>ABSTUDIO</h4>

    </div>
    <div class="col">
      <a href="/port-miakrylics">
        <div class="card">
          <img src="/static/mkVis/3b.jpg" class="card-img-top hvr"
            alt="poster saying appointments out now for nail salon miakrylics. Includes cartoon graphic with hand holding crystal ball">
          <div class="overlay">
            <h1 class="ovr">Come check me out!</h1>
          </div>
        </div>
      </a>
      <br>
      <h4>MiaKrylics</h4>

    </div>
  </div>
</div>

{%endblock%}