{%extends "base.html"%}

{% block title %} NXADESIGNS | Shop {% endblock %}

{% block content %}

<h1> SHOP </h1>
<div class="container shop">
    <div class="row row-cols-1 row-cols-lg-3 g-8 gy-5 py-1">
        <!--G IS FOR GUTTER, GUTTER AS IN SPACE-->
        <div class="col">
            <a href="/shop-crzn1">
                <div class="card">
                    <img src="/static/crzn/hoodie01.jpg" class="card-img-top hvr"
                        alt="corazon hoodie 1. black hoodie with purple and blue highlights. Front has various heart shaped assets, back has a giant heart with scripture 1 corinthians 13:4-8 on it">
                    <div class="overlay">
                        <h1 class="ovr">BUY NOW</h1>
                    </div>
                </div>
            </a>
            <br>
            <h4>CORAZON HOODIE FIRST EDITION</h4>
            <h5><i>£60</i></h5>

        </div>
        <br>
        <div class="col">
            <a href="/shop-crzn2">
                <div class="card">
                    <img src="/static/crzn/hoodie02.jpg" class="card-img-top hvr"
                        alt="second corazon hoodie. front has word corazon on it. with 1 corinthians 13:4, stylised, back of hoodie has word corazon too, stylised with assets">
                    <div class="overlay">
                        <h1 class="ovr">BUY NOW</h1>
                    </div>
                </div>
            </a>
            <br>
            <h4>CORAZON HOODIE SECOND EDITION</h4>
            <h5><i>£60</i></h5>

        </div>
        <br>

        <div class="col">
            <a href="/shop-crzn3">
                <div class="card">
                    <img src="static/crzn/tee03.jpg" class="card-img-top hvr"
                        alt="corazon t shirt. front says corazon and has a blue and purple gradient wtih words love is patient love is kind in white. Back has a blue and purple heart with a heart rate line extenting the t-shirt.">
                    <div class="overlay">
                        <h1 class="ovr">BUY NOW</h1>
                    </div>
                </div>
            </a>
            <br>
            <h4>CORAZON T-SHIRT FIRST EDITION</h4>
            <h5><i>£60</i></h5>

        </div>
        <br>

    </div>
</div>
{%endblock%}